/* General Styles */
#app{
  width: 414px;
  margin: 0 auto;
  background: #ddd;
  padding: 30px 15px;
}
hgroup{
  margin-bottom: 15px;
}
h1{
  margin: 0 0 5px;
  font-size: 1.3em;
}
h2{
  margin: 0;
  font-size: 1.1em;
}

/* Form Styles */
input, textarea{
  font-size: 1em;
}
textarea{
  resize: none;
  box-sizing: border-box;
  padding: 5px;
  border: none;
}
.message-box textarea{
  width: 100%;
  height: 4em;
}
::-webkit-input-placeholder {
  vertical-align: top;
}
:-moz-placeholder {
  vertical-align: top;
}
::-moz-placeholder {
  vertical-align: top;
}
:-ms-input-placeholder {
  vertical-align: top;
}
.btn-submit{
  font-size: 1em;
  margin-left: 5px;
}

/* Chat View */
.message-list{
  list-style: none;
  padding: 0;
}
.message{
  margin-bottom: 1em;
}
.user-name{
  font-weight: bold;
}
.timestamp{
  color: #777;
}
